<div style="padding: 5%;">
    <h1 class="display-4" style="margin-bottom: 100px; text-align: center;">Error 404 - Page Not Found</h1>
    <div align="center">
        <h2 class="text-danger">The page you are looking for might have been removed, had its name changed or is temporarily unavailable.</h2>
        <br />
        <h5><a href="/Home/Index">Return to the homepage</a>.</h5>
        <br />
    </div>
    <div align="center">
        <img src="https://i.pinimg.com/originals/3d/e0/2b/3de02bf0ac4b603351a9e78092166449.png" width="800" height="500" />
    </div>
</div>