@{
    ViewData["Title"] = "Home Page";
}

<div style="padding: 5%;">
    <h1 class="display-4 text-center mb-5">Welcome to Office Manager</h1>

    <div class="text-center">
        <img src="https://www.pngitem.com/pimgs/b/72-723404_line-chart-png.png" >
    </div>
</div>
