@using OfficeManager.Areas.Administration.ViewModels.Tenants
@model TenantWithAllOfficesViewModel
@{
    ViewData["Title"] = "Add Offices";
}

<h1 class="display-4" style="text-align:center;">Add Offices to Tenant</h1>
<h5 style="margin-top:50px; margin-bottom:20px" ; text-align:left;">Available Offices</h5>
<form asp-area="Administration" asp-controller="Tenants" asp-action="AddOffices" method="post" class="form">
    <input type="hidden" name="id" value="@Model.Id" />
    
    @{var availaleOffices = Model.AvailavleOffices.OrderBy(x => x.Name).ToList(); }
    @for (var i = 0; i < availaleOffices.Count(); i++)
    {
        <div>
            <input name="AreChecked" type="checkbox" value="@availaleOffices[i].Name" /> @availaleOffices[i].Name<br />
        </div>
    }
    <button type="submit" class="btn btn-outline-primary">Add</button>
    <a class="btn btn-outline-dark" href="/Administration/Tenants/Details?id=@Model.Id" role="button" style="width:150px">Back</a>
</form>
