@using OfficeManager.Areas.Administration.ViewModels.Tenants
@model TenantWithAllOfficesViewModel
@{
    ViewData["Title"] = "Add Offices";
}

<div style="padding: 5%;">
    <h1 class="display-4 text-center mb-5">Add Offices to Tenant</h1>
    <h5><i>Available Offices</i></h5>
    <form asp-area="Administration" asp-controller="Tenants" asp-action="AddOffices" method="post" class="form">
        <input type="hidden" name="id" value="@Model.Id" />

        @{var availaleOffices = Model.AvailavleOffices.OrderBy(x => x.Name).ToList(); }
        @for (var i = 0; i < availaleOffices.Count(); i++)
        {
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="AreChecked" id="customCheck@(i)" value="@availaleOffices[i].Name">
                <label class="custom-control-label" for="customCheck@(i)">@availaleOffices[i].Name</label>
            </div>
        }
        <div class="row mt-4">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-2 mb-sm-0 mr-sm-2">
                <button type="submit" class="btn btn-success btn-block">Add</button>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <a class="btn btn-dark btn-block" href="/Administration/Tenants/Details?id=@Model.Id">Back</a>
            </div>
        </div>
    </form>
</div>