@using OfficeManager.Areas.Administration.ViewModels.Tenants
@model CreateTenantViewModel

@{
    ViewData["Title"] = "Create Tenant";
}

<div style="padding: 5%;">
<h1 class="display-4 text-center mb-5">Create Tenant</h1>
    <form asp-area="Administration" asp-controller="Tenants" asp-action="Create" method="post">
        <div class="row" style="margin-bottom:20px">
            <div class="col-5">
                <label asp-for="CompanyName"><i>Company Name</i></label>
                <input asp-for="CompanyName" class="form-control">
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="col-4">
                <label asp-for="CompanyOwner"><i>Company Owner</i></label>
                <input asp-for="CompanyOwner" class="form-control">
                <span asp-validation-for="CompanyOwner" class="text-danger"></span>
            </div>
            <div class="col-3">
                <label asp-for="Bulstat"><i>Bulstat</i></label>
                <input asp-for="Bulstat" class="form-control">
                <span asp-validation-for="Bulstat" class="text-danger"></span>
            </div>
        </div>
        <div class="row" style="margin-bottom:20px">
            <div class="col-5">
                <label asp-for="Address"><i>Address</i></label>
                <input asp-for="Address" class="form-control">
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="col-4">
                <label asp-for="Email"><i>Email</i></label>
                <input asp-for="Email" type="email" class="form-control" validate>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col-3">
                <label asp-for="Phone"><i>Phone</i></label>
                <input asp-for="Phone" class="form-control">
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>
        <div class="row" style="margin-bottom:20px">
            <div class="col-4">
                <label asp-for="StartOfContract"><i>Sart Of Contract</i></label>
                <input asp-for="StartOfContract" class="form-control" asp-format="{0:MM/dd/yyyy}">
                <span asp-validation-for="StartOfContract" class="text-danger"></span>
            </div>
        </div>
        <br />
        <button type="submit" class="btn btn-primary" style="width:195px">Create Tenant</button>
        <a class="btn btn-dark" href="/Administration/Tenants/All" role="button" style="width:195px">Back</a>
    </form>
</div>