@using OfficeManager.ViewModels.AccountingReports
@model List<AccountingReportListViewModel>


@foreach (var accountingReport in @Model)
{
    <h5>Period: @accountingReport.Period / Amount for Electricity:@accountingReport.AmountForElectricity</h5>
    <h5>Period: @accountingReport.Period / Amount for Heating:@accountingReport.AmountForHeating</h5>
    <h5>Period: @accountingReport.Period / Amount for Heating:@accountingReport.AmountForCooling</h5>
    <h5>Period: @accountingReport.Period / Total Amount:@accountingReport.TotalAmount</h5>
}
