@using OfficeManager.Services
@inject ITenantsService tenantsService


@{
    var tenants = @tenantsService.GetAllTenants().ToList();
}
<!-- Charts -->
@foreach (var tenant in tenants.OrderBy(x => x.CompanyName))
{
    <li class="nav-item">
        <a href="/Administration/Charts/Index?id=@tenant.Id" class="nav-link">
            <i class="fas fa-chart-pie nav-icon"></i>
            <p>@tenant.CompanyName</p>
        </a>
    </li>
}