@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
@*@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}*@

<div style="padding: 5%;">
    <h1 class="display-4" style="margin-bottom: 100px; text-align: center;">Error 500 - Internal Server Error</h1>
    <div align="center">
        <h2 class="text-danger">An error occurred while processing your request.</h2>
        <br />
        <h5><a href="/Home/Index">Return to the homepage</a>.</h5>
        <br />
    </div>
    <div align="center">
        <img src="https://i.pinimg.com/originals/3d/e0/2b/3de02bf0ac4b603351a9e78092166449.png" width="800" height="500" />
    </div>
</div>