@using OfficeManager.Areas.Administration.ViewModels.Offices
@model OfficeWithAllElectricityMetersViewModel
@{
    ViewData["Title"] = "Add Electricity Meter";
}

<div style="padding: 5%;">
    <h1 class="display-4 text-center mb-5">Add Electricity Meter to Office</h1>
    <h5 style="margin-top:50px; margin-bottom:20px; text-align:left;"><i>Available Electricity Meters</i></h5>
    <form asp-area="Administration" asp-controller="Offices" asp-action="AddElectricityMeter" method="post" class="form">
        <input type="hidden" name="id" value="@Model.Id" />

        @foreach (var electricityMeter in Model.AvailavleElectricityMeters.OrderBy(x => x.Name))
        {
            <div>
                <input name="IsChecked" type="radio" value="@electricityMeter.Name" />@electricityMeter.Name<br />
            </div>
        }
        <br />
        <button type="submit" class="btn btn-primary" style="width:195px">Add</button>
        <a class="btn btn-dark" href="/Administration/Offices/Edit?id=@Model.Id" role="button" style="width:195px">Back</a>
    </form>
</div>
