@using OfficeManager.Areas.Administration.ViewModels.Offices
@model OfficeWithAllElectricityMetersViewModel
@{
    ViewData["Title"] = "Add Electricity Meter";
}

<div style="padding: 5%;">
    <h1 class="display-4 text-center mb-5">Add Electricity Meter to Office</h1>
    <h5><i>Available Electricity Meters</i></h5>
    <form asp-area="Administration" asp-controller="Offices" asp-action="AddElectricityMeter" method="post" class="form">
        <input type="hidden" name="id" value="@Model.Id" />

        @foreach (var electricityMeter in Model.AvailavleElectricityMeters.OrderBy(x => x.Name))
        {
            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="IsChecked" id="customCheck" value="@electricityMeter.Name">
                <label class="custom-control-label" for="customCheck">@electricityMeter.Name</label>
            </div>
        }
        <div class="mt-4">
            <button type="submit" class="btn btn-primary mr-2">Add</button>
            <a class="btn btn-dark" href="/Administration/Offices/Edit?id=@Model.Id">Back</a>
        </div>
    </form>
</div>
