@using OfficeManager.Areas.Administration.ViewModels.Offices
@model OfficeWithAllTemperatureMetersViewModel
@{
    ViewData["Title"] = "Add Temperature Meters";
}

<div style="padding: 5%;">
    <h1 class="display-4 text-center mb-5">Add Temperature Meters to Office</h1>
    <h5><i>Available Temperature Meters</i></h5>
    <form asp-area="Administration" asp-controller="Offices" asp-action="AddTemperatureMeters" method="post" class="form">
        <input type="hidden" name="id" value="@Model.Id" />

        @{var availaleTemperatureMeters = Model.AvailavleTemperatureMeters.OrderBy(x => x.Name).ToList(); }
        @for (var i = 0; i < availaleTemperatureMeters.Count(); i++)
        {
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="AreChecked" id="customCheck@(i)" value="@availaleTemperatureMeters[i].Name">
                <label class="custom-control-label" for="customCheck@(i)">@availaleTemperatureMeters[i].Name</label>
            </div>
        }
        <div class="row mt-4">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-2 mb-sm-0 mr-sm-2">
                <button type="submit" class="btn btn-success btn-block">Add</button>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <a class="btn btn-dark btn-block" href="/Administration/Offices/Edit?id=@Model.Id">Back</a>
            </div>
        </div>
    </form>
</div>