@using OfficeManager.Areas.Administration.ViewModels.Offices
@model OfficeWithCurrentTemperatureMetersViewModel
@{
    ViewData["Title"] = "Remove Temperature Meters";
}

<div style="padding: 5%;">
    <h1 class="display-4 text-center mb-5">Remove Temperature Meters</h1>
    <h5><i>Curent Temperature Meters</i></h5>
    <form asp-controller="Offices" asp-action="RemoveTemperatureMeters" method="post" class="form">
        <input type="hidden" name="id" value="@Model.Id" />

        @{var temperatureMeters = Model.CurrentTemperatureMeters.ToList(); }
        @for (var i = 0; i < temperatureMeters.Count(); i++)
        {
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="AreChecked" id="customCheck@(i)" value="@temperatureMeters[i].Name">
                <label class="custom-control-label" for="customCheck@(i)"> @temperatureMeters[i].Name</label>
            </div>
        }
        <div class="mt-4">
            <button type="submit" class="btn btn-danger mr-2">Remove</button>
            <a class="btn btn-dark" href="/Administration/Offices/Edit?id=@Model.Id">Back</a>
        </div>
    </form>
</div>
