@using OfficeManager.Areas.Administration.ViewModels.Offices
@model OfficeWithCurrentTemperatureMetersViewModel
@{
    ViewData["Title"] = "Remove Temperature Meters";
}

<h1 class="display-4" style="text-align:center;">Remove Temperature Meters from Office</h1>
<h5 style="margin-top:50px; margin-bottom:20px" ; text-align:left;">Curent Temperature Meters</h5>
<form asp-controller="Offices" asp-action="RemoveTemperatureMeters" method="post" class="form">
    <input type="hidden" name="id" value="@Model.Id" />
    <tr>
        <th>Temperature Meter Number</th>
    </tr>
    @{var temperatureMeters = Model.CurrentTemperatureMeters.ToList(); }
    @for (var i = 0; i < temperatureMeters.Count(); i++)
    {
        <li>
            <input name="AreChecked" type="checkbox" value="@temperatureMeters[i].Name" /> @temperatureMeters[i].Name<br />
        </li>
    }
    <button type="submit" class="btn btn-outline-primary">Remove</button>
    <a class="btn btn-outline-dark" href="/Administration/Offices/Edit?id=@Model.Id" role="button" style="width:150px">Back</a>
</form>