@using OfficeManager.Areas.Administration.ViewModels.Dashboard
@model DashboardOutputViewModel



<h1>Total area: @Model.TotalArea</h1>
<h1>Rented area: @Model.RentedArea</h1>
<h1>Available area: @Model.AvailableArea</h1>