@using OfficeManager.Areas.Administration.ViewModels.Landlords
@model CreateLandlordViewModel
<div class="row">
    <div class="form-group col-md-5">
        <label asp-for="LandlordName"><i>Landlord Name</i></label>
        <input asp-for="LandlordName" class="form-group form-control">
        <span asp-validation-for="LandlordName" class="form-group text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="LandlordOwner"><i>Landlord Owner</i></label>
        <input asp-for="LandlordOwner" class="form-group form-control">
        <span asp-validation-for="LandlordOwner" class="form-group text-danger"></span>
    </div>
    <div class="form-group col-md-3">
        <label asp-for="Bulstat"><i>Landlord Bulstat</i></label>
        <input asp-for="Bulstat" class="form-group form-control">
        <span asp-validation-for="Bulstat" class="form-group text-danger"></span>
    </div>
    <div class="form-group col-md-5">
        <label asp-for="Address"><i>Landlord Address</i></label>
        <input asp-for="Address" class="form-group form-control">
        <span asp-validation-for="Address" class="form-group text-danger"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="Email"><i>Landlord Email</i></label>
        <input asp-for="Email" type="email" class="form-group form-control" validate>
        <span asp-validation-for="Email" class="form-group text-danger"></span>
    </div>
    <div class="form-group col-md-3">
        <label asp-for="Phone"><i>Landlord Phone</i></label>
        <input asp-for="Phone" class="form-group form-control">
        <span asp-validation-for="Phone" class="form-group text-danger"></span>
    </div>
</div>