@using OfficeManager.Areas.Administration.ViewModels.Landlords
@model CreateLandlordViewModel

@{
    ViewData["Title"] = "Create Landlord";
}

<div style="padding: 5%;">
    <h1 class="display-4 text-center mb-5">Create Landlord</h1>
    <form asp-area="Administration" asp-controller="Landlords" asp-action="Create" method="post">
        <partial name="_LandlordPartial" />
        <div class="row mt-3">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-3 offset-lg-0">
                <button type="submit" class="btn btn-primary btn-block">Create Landlord</button>
            </div>
        </div>
    </form>
</div>