@using OfficeManager.Areas.Administration.ViewModels.Landlords
@model CreateLandlordViewModel

@{
    ViewData["Title"] = "Create Landlord";
}

<div style="padding: 5%;">
    <h1 class="display-4 text-center mb-5">Create Landlord</h1>
    <form asp-area="Administration" asp-controller="Landlords" asp-action="Create" method="post">
        <partial name="_LandlordPartial" />
        <button type="submit" class="btn btn-primary" style="width:195px">Create Landlord</button>
    </form>
</div>