@using OfficeManager.Areas.Administration.ViewModels.Landlords
@model CreateLandlordViewModel

@{
    ViewData["Title"] = "Edit Landlord";
}

<div style="padding: 5%;">
    <h1 class="display-4 text-center mb-5">Edit Landlord</h1>
    <form asp-area="Administration" asp-controller="Landlords" asp-action="Edit" method="post">
        <partial name="_LandlordPartial" />
        <div class="row mt-2">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-2 mb-sm-0 mr-sm-2">
                <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <a class="btn btn-dark btn-block" href="/Administration/Landlords/Details">Back</a>
            </div>
        </div>       
    </form>
</div>