@using OfficeManager.ViewModels.Measurements
@model CreateTemperatureMeasurementsInputViewModel
@{
    ViewData["Title"] = "Create Temperature Measurements";
}
<h1>Create Temperature Measurements</h1>
<hr />
<i style="color:orangered;"><b>Last period: @Model.LastPeriod</b></i>
<hr />

<form class="form-horizontal" method="post">
    <div class="row" style="margin-bottom:20px">
        <div class="col-3">
            <label asp-for="StarOfPeriod">Start of Period</label>
            <input asp-for="StarOfPeriod" class="form-control" asp-format="{0:MM/dd/yyyy}">
        </div>
        <div class="col-3">
            <label asp-for="EndOfPeriod">End of Period</label>
            <input asp-for="EndOfPeriod" class="form-control" asp-format="{0:MM/dd/yyyy}">
        </div>
    </div>
    <table class="table table-striped">
        <tr>
            <th>Temperature Meter Number</th>
            <th>Heating Measurement</th>
            <th>Cooling Measurement</th>
        </tr>
        @for (var i = 0; i < Model.TemperatureMeters.Count; i++)
        {
            <tr>
                <td>
                    <input type="text" name="TemperatureMeters[@i].Name" value="@Model.TemperatureMeters[i].Name" readonly/>
                </td>
                <td>
                    <input type="text" name="TemperatureMeters[@i].HeatingMeasurement" />
                </td>
                <td>
                    <input type="text" name="TemperatureMeters[@i].CoolingMeasurement" />
                </td>
            </tr>
        }
    </table>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>