@using OfficeManager.ViewModels.Measurements
@model CreateMeasurementsInputViewModel
@{
    ViewData["Title"] = "Create Measurements";
}
<div style="padding: 5%;">

    <h1 class="display-4" style="margin-bottom: 100px; text-align: center;">Create Measurements</h1>
    <br />
    <i style="color:orangered;"><b>Last period: @Model.LastPeriod</b></i>
    <br />
    <form asp-controller="Measurements" asp-action="CreateMeasurements" method="post">
        <partial name="_MeasurementsPartitial" />
    </form>
</div>
