@using OfficeManager.ViewModels.Measurements
@model CreateMeasurementsInputViewModel
@{
    ViewData["Title"] = "Edit Measurements";
}
<div style="padding: 5%;">

    <h1 class="display-4 text-center mb-5">Edit Measurements</h1>
    <br />
    <i style="color:orangered;"><b>Last period: @Model.LastPeriod</b></i>
    <br />
    <form asp-controller="Measurements" asp-action="Edit" method="post">
        <partial name="_MeasurementsPartitial" />
    </form>
</div>
