@using OfficeManager.Areas.Administration.ViewModels.TemperatureMeters
@model CreateTemperatureMeterViewModel

@{
    ViewData["Title"] = "Create Temperature Meter";
}

<div style="padding: 5%;">
    <h1 class="display-4 text-center mb-5">Create Temperature Meter</h1>
    <form asp-area="Administration" asp-controller="TemperatureMeters" asp-action="Create" method="post">
        <div class="row" style="margin-bottom:20px">
            <div class="form-group col-5">
                <label asp-for="Name"><i>Temperature Meter Name</i></label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-2 mb-sm-0 mr-sm-2">
                <button type="submit" class="btn btn-primary btn-block">Create</button>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <a class="btn btn-dark btn-block" href="/Administration/TemperatureMeters/All">Back</a>
            </div>
        </div>       
    </form>
</div>