@using OfficeManager.Areas.Administration.ViewModels.TemperatureMeters
@model EditTemperatreMeterViewModel

@{
    ViewData["Title"] = "Edit Temperature Meter";
}

<div style="padding: 5%;">
    <h1 class="display-4 text-center mb-5">Edit Temperature Meter</h1>
    <form asp-area="Administration" asp-controller="TemperatureMeters" asp-action="Edit" method="post">
        <input asp-for="@Model.Id" type="hidden" name="id" value="@Model.Id" />
        <div class="row" style="margin-bottom:20px">
            <div class="form-group col-md-4">
                <label asp-for="Name"><i>Temperature Meter Name</i></label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-2 mb-sm-0 mr-sm-2">
                <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <a class="btn btn-dark btn-block" href="/Administration/TemperatureMeters/All">Back</a>
            </div>
        </div>
    </form>
    <hr class="mt-5" />
    <form id="deleteTemperatureMeter" asp-area="Administration" asp-controller="TemperatureMeters" asp-action="Delete" method="post">
        <input asp-for="@Model.Id" type="hidden" name="id" value="@Model.Id" />
        <div class="row mt-4">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-2 mb-sm-0 mr-sm-2">
                <button type="submit" class="btn btn-danger btn-block">Delete</button>
            </div>
        </div>
    </form>
</div>